@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body{
     background-color: black; */
    font-family: 'Nunito', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;

}
img{
    max-width: 100%;
}
p{
    margin: 0%;
    padding: 0%;
}
ul{
    padding: 0%;
    margin: 0%;
}
li{
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;   
}
a{
    color: white;
    text-decoration: none;
}
                                   /* -------------------HEADER---------------- */

    
.header {
position: absolute;
width: 100%;
 background-color: rgb(0, 0, 0); */

}

.logo {
    margin: 13px;
}
.logo img{
    max-width: 100px;
}
.menu {
    font-size: 20px;
    line-height: 1.8;
    color: #ffffff;
   
}
button{
    color: #fff !important;
}
.menu li{
    margin-right:30px; 
}
.menu a{
    color: #fff !important;
}
.menu a:hover{
    color: #f7c788 !important;
    border-bottom: 1px solid #f7c788;
    transition: .5s ease-in-out;
}
.social {
    color: white;
    font-size: 20px;
  
    
}
.social a:hover{
    color: #fcd39c;
    
    transition: .5s ease-in-out;
}
.social li{
    margin-right:8px; 
}
                             /*------------------------- banner section--------------------------*/             
.banner {
    
    background-image: url("../image/Layer-2.jpg"); 
    background-size: cover; 
   
}
.bn_sc_btn {
    width: 88%;
    color: #fcd39c;
    margin-top: 460px;
    margin-bottom: 150px;
    
}
.bn_script {
    font-size: px;
    font-weight: ;
    font-size: 60px;
    line-height: 1.3;
    color: #fcd39c;
    font-weight: 700;
}
.bn_butn {
    margin-top: 36px;
}
.bn_butn a {
    padding: 8px 20px;
    border: 1px solid #a2611e;
    border-radius: 14px;
    font-size: 20px;
    background: linear-gradient(to bottom, #a31313 20%, #9e6122 100%);
    color: #efe0bf;
    font-weight: 500;
}
.bn_butn a:hover {
    transition: .5s ease-in-out;
    color: rgb(0, 0, 0);
    background-color: unset;
    background-color: none;
} 
 /*-------------------------------------SERVICES---------------------------------------- */ 

 .ser_script {
    font-size: 70px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    margin: 70px 0;
    line-height: 1.3;

overflow: hidden;
}

span{
color: #fcd39c;
}
.ser_chat_scrpt{
  
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
}


.serv_typ {
    /* float: left; */
    /* width: 25%; */
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
   
}
.serv_typ img {
    max-width: 95px;
    min-height: 96px;
}
.ser_chat {
    font-size: 35px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    margin: 24px 0px;
}
/*-------------------------------------discription--------------------------------------------*/

.dis_img {
    position: relative;
    float: left;
    
}


.dis_scr_box {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 71px;
    line-height: 1.6;
}
.dis_scrpt_heading {
    font-size: 25px;
   
    color: #ffffff;
    font-weight: 300;
}
.dis_scrpt {
    position: relative;
    float: left;
    width: 100%;
    
    margin-top: 30px;
}
.dis_scrpt p{
    color: #fcd39c;
}
/*-------------------------------------ACHIVEMENTS--------------------------------------------*/
.achiv {
    position: relative;
    /* float: left; */
    width: 100%;
    margin: 0 auto;
}
.achi_block {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.achiv_typ {
    position: relative;
    float: left;
    /* border-radius: 29px; */
    background: linear-gradient(to bottom right, #824f19 43%, #9e6122 100%);
    
    margin-bottom: 20px;
    
    box-shadow: 0px 0px 9px 9px #3b3225;
}


.achiv_typ_img img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}
.aciv_colr {
    position: relative;
    float: left;
    width: 92%;
  margin: 11px;
}
.achiv_typ_date{
    position: relative;
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 10px;
}
.achiv_typ_que {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}
.achiv_typ_ans {
    position: relative;
    float: left;
    width: 100%;
    color: white;
}   
                    /*************************MOBILE***********************************************/
.mob_vew_img {
    text-align: center;
    overflow: hidden;
    position: relative;
}
/* .mob_vew_img img {
    max-width: 604px;
} */
.mob_vew_img_min_scr1 {
    position: absolute;
    left: 23px;
    width: 19%;
    top: 156px;
}
.mob_vew_img_min_scr1:before {
    position: absolute;
    content: '';
    width: 54%;
    height: 100%;
    top: -32px;
    left: 170px;
    border-top: 3px solid#fcd39c;
}
.mob_vew_img_min_scr1:after {
    position: absolute;
    content: '';
    width: 3%;
    height: 8%;
    top: -36px;
    border-radius: 20px;
    right: 114px;
    background: #fcd39c;
}
.mob_vew_1 {
    /* position: relative; */
    float: left;
    width: 12%;
    color: #fcd39c;
    background: linear-gradient(to bottom, #8d0404 25%, #9e6122 100%);
    font-size: 22px;
    text-align: center;
    
    border-radius: 30px;
}
.chat {
    position: relative;
    float: left;
    /* width: 71%; */
    color: #fcd39c;
    font-size: 29px;
    font-weight: 700;
    margin-left: 11px;
    line-height: 31px;
}
.mobil_scr {
    font-size: 13px;
    /* position: relative; */
    float: left;
    font-weight: 100;
    /* width: 85%; */
    line-height: 25px;
    color: #ffffff;
    margin: 10px 0 0 48px;
}
.mob_vew_img_min_scr2 {
    position: absolute;
    width: 20%;
    bottom: 298px;
    left: 702px;
}
.mob_vew_img_min_scr2:before {
    position: absolute;
    content: '';
    width: 1%;
    height: 100%;
    top: -130px;
    left: 103px;
    border-left: 3px solid#fcd39c;
}

.mob_vew_img_min_scr2:after {
    position: absolute;
    content: '';
    width: 3%;
    height: 8%;
    top: -13px;
    border-radius: 47px;
    right: 191px;
    background: #fcd39c;
}
.mob_vew_img_min_scr3 {
    position: absolute;
    width: 20%;
    right: 26px;
    top: 258px;
}
.mob_vew_img_min_scr3:before {
    position: absolute;
    content: '';
    width: 42%;
    height: 100%;
    top: -32px;
    right: 192px;
    border-top: 3px solid#fcd39c;
}
.mob_vew_img_min_scr3 :after {
    position: absolute;
    content: '';
    width: 3%;
    height: 8%;
    top: -36px;
    border-radius: 53px;
    left: 99px;
    background: #fcd39c;
}

     /*-------------------------------------REVEIW--------------------------------------------*/
.reveiw {
position: relative;
float: left;
width: 100%;
}
.rew_head {
position: relative;

width: 100%;
text-align: center;
margin-top: 63px;
font-size: 40px;
}

.rew_head p {
color: #ffffff;
font-weight: 300;
margin-bottom: 83px;
}
.rew_head span {
color: #fcd39c;
font-weight: 700;
}

.rew_bck_clr {
position: relative;


}
.rew_bck_clr:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #8d0404 -13%, #9e6122 100%);
}


.rew_bck_clr img {
    position: absolute;
    width: 267px;
    top: -28px;
    left: 96px;
}
.rew_script {
position: relative;
float: right;
width: 66%;

}
.rew_qute {

width: 91%;
text-align: end;
margin: 20px 0 -20px 0;
font-size: 60px;
color: #fcd39c;
}
.rew_scr_h {

color: #fcd39c;
font-size: 32px;
margin-bottom: 10px;
}
.rew_scr_p {
font-size: 21px;

width: 88%;
margin-bottom: 45px;
font-weight: lighter;
color: #ffffff;
}
/*-----------------------------------search-----------------------*/
.search_tag {
    /* position: relative; */
    /* float: left; */
    width: 100%;
    text-align: center;
}
 
 
.search {
    position: relative;
    float: left;
    width: 100%;
}
 
input[type="text"] {
    height: 65px;
    width: 56%;
    padding: 0 0 0 31px;
    background-color: #fddaab;
    border-radius: 38px;
    outline: none;
    color: #a36524;
    font-size: 27px;
    border: none;
}
::placeholder{
    color: red;
    width: 100%;
}


.search_tag.search_tag a {
    position: absolute;
    background: linear-gradient(to bottom, #8d0404 -4%, #9e6122 53%);
    height: 65px;
    width: 17%;
    padding: 8px 0 0 0;
    right: 284px;
    font-size: 29px;
    border-radius: 57px;
}
.search_tag a:hover {
    color: #fcd39c;
    transition: .5s ease-in-out;
}

/****************************REVIWE*******************************/

.rev_img {
    position: absolute;
    top: -80%;
    left: 93px;
}
/*------------------------------------FOOTER-------------------------*/
.footer {
    background-image: url("../image/Shape-1-lastcopy1.png");
    position: relative;
    float: left;
    width: 100%;
    font-size: 24px;
    text-align: center;
    /* background-size: cover; */
    margin-top: 93px;
    padding: 94px 0;
    background-position: center;
    background-repeat: no-repeat;
}


 .foter_blck a:hover {
    color: #ffd06e;
    transition: .5s ease-in-out;
 }
.foter_blck {
    position: relative;
    float: left;
    width: 33%;
    color: #ffffff;
    margin-bottom: 57px;
}
.foter_blck li {
    margin-right:20px; 
}
.last_line{
    color: white;
    
}


